.SideBar
  .LeftHeader
    .LeftHeader__list
      %h3.LeftHeader__list__userName
        a
      %ul.LeftHeader__list__iconList
        %li.LeftHeader__list__iconList__Icon
          = link_to "#" do
            %i.fas.fa-edit 
        %li.LeftHeader__list__iconList__Icon
          = link_to "#" do
            %i.fas.fa-cog        
  .GroupList
    .Group
      .Group__name
        = link_to "#" do
          a
      .Group__message 
        = link_to "#" do
          まだメッセージはありません。
      .Group__name
        = link_to "#" do
          a
      .Group__message 
        = link_to "#" do
          まだメッセージはありません。
      .Group__name
        = link_to "#" do
          a
      .Group__message 
        = link_to "#" do
          まだメッセージはありません。
          
        